.footer {
    background: var(--color-a6);
    padding-top: 64px;
    padding-bottom: 73px;
    .footer-logo {
        max-width: 240px;
        min-width: 240px;
    }
    .footer-top {
        border-bottom: 1px solid rgba(255,255,255,0.4);
        padding-bottom: 32px;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 20px;
            font-weight: 400;
            color: var(--color-white);
            margin-bottom: 0;
        }
    }
    .social-list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        li {
            a {
                color: var(--color-white);
                font-size: 24px;
                display: inline-block;
                transition: all 0.5s;
                &:hover {
                    transform: rotate(360deg);
                }
            }
        }
    }
}