.left-panel {
    background: var(--color-7ff);
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 709px;
    flex-basis: 709px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    @media only screen and (max-width: 1680px) {
        max-width: 570px;
        flex-basis: 570px;
        padding-top: 60px;
    }
    @media only screen and (max-width: 1399px) {
        max-width: 420px;
        flex-basis: 420px;
        padding-top: 40px;
    }
    @media only screen and (max-width: 991px) {
        max-width: 300px;
        flex-basis: 300px;
        padding-top: 30px;
    }
    @media only screen and (max-width: 767px) {
        max-width: 100%;
        flex-basis: 100%;
        height: auto;
        overflow-y: hidden;
    }
    &.register {
        max-width: 550px;
        flex-basis: 550px;
        @media only screen and (max-width: 1680px) {
            max-width: 480px;
            flex-basis: 480px;
        }
        @media only screen and (max-width: 1399px) {
            max-width: 380px;
            flex-basis: 380px;
        }
        @media only screen and (max-width: 991px) {
            max-width: 280px;
            flex-basis: 280px;
        }
        @media only screen and (max-width:767px) {
            max-width: 100%;
            flex-basis:100%;
        }
    }
    .top-part {
        padding: 0 40px 135px;
        @media only screen and (max-width: 1680px) {
            padding-bottom: 100px;
        }
        @media only screen and (max-width: 991px) {
            padding: 0 20px 80px;
        }
        @media only screen and (max-width: 767px) {
            padding: 0 20px 60px;
        }

        h1 {
            font-size: 72px;
            font-weight: 700;
            line-height: 1.2;
            color: rgba(255, 255, 255, 0.2);
            margin-bottom: 40px;
            text-align: center;
            font-style: italic;
            max-width: 610px;
            @media only screen and (max-width: 1680px) {
                font-size: 55px;
                margin-bottom: 30px;
            }
            @media only screen and (max-width: 1399px) {
                font-size: 40px;
                margin-bottom: 20px;
            }
            @media only screen and (max-width: 991px) {
                font-size: 30px;
            }
        }

        h6 {
            text-align: right;
            font-size: 20px;
            font-weight: 700;
            color: var(--color-white);
            margin-bottom: 0;
            @media only screen and (max-width: 1399px) {
                font-size: 16px;
            }
            @media only screen and (max-width: 991px) {
                font-size: 14px;
            }
        }
    }
}

.bottom-part-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: '';
        background: url('../images/back.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        top: -12%;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

.auth-wrapper {
    display: flex;
    @media only screen and (max-width: 767px) {
        flex-direction: column-reverse;
    }
    .right-panel {
        max-width: calc(100% - 709px);
        flex-basis: calc(100% - 709px);
        padding: 40px 64px;
        background: var(--color-fd);
        height: 100vh;
        overflow-y: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media only screen and (max-width: 1680px) {
            max-width: calc(100% - 570px);
            flex-basis: calc(100% - 570px);
            padding: 40px 50px;
        }
        @media only screen and (max-width: 1399px) {
            max-width: calc(100% - 420px);
            flex-basis: calc(100% - 420px);
            padding: 30px 30px;
        }
        @media only screen and (max-width: 991px) {
           max-width: calc(100% - 300px);
            flex-basis: calc(100% - 300px);
        }
        @media only screen and (max-width: 767px) {
            max-width: 100%;
            flex-basis: 100%;
            height: auto;
        }
        @media only screen and (max-width: 575px) {
            padding: 30px 15px;
        }
        .innr-logo {
            margin-bottom: 80px;
            max-width: 333px;
            min-width: 333px;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            @media only screen and (max-width: 1680px) {
                margin-bottom: 60px;
                max-width: 250px;
                min-width: 250px;
            }
            @media only screen and (max-width: 1399px) {
                margin-bottom: 40px;
                max-width: 190px;
                min-width: 190px;
            }
            @media only screen and (max-width: 991px) {
                margin-bottom: 30px;
                max-width: 140px;
                min-width: 140px;
            }
        }
    }
}

.auth-form {
    border: 1px solid var(--color-d9);
    box-shadow: 0px 0px 40px 0px #0057FF33;
    background: var(--color-white);
    border-radius: 24px;
    padding: 40px;
    @media only screen and (max-width: 1399px) {
        padding: 30px 25px;
    }
    @media only screen and (max-width: 575px) {
        padding: 30px 17px;
    }
    h4 {
        color: var(--color-black);
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
        @media only screen and (max-width: 1680px) {
            font-size: 22px;
        }
        @media only screen and (max-width: 1399px) {
            font-size: 20px;
        }
         @media only screen and (max-width: 991px) {
            font-size: 17px;
        }
    }

    p {
        color: var(--color-7b);
        font-size: 16px;
        margin-bottom: 0;
        font-style: italic;
         @media only screen and (max-width: 1680px) {
            font-size: 14px;
         }
         @media only screen and (max-width: 991px) {
            font-size: 13px;
         }
    }
}

.remember-innr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .forgot-password {
        color: var(--color-btn);
        font-size: 14px;
        font-weight: 600;
        @media only screen and (max-width: 991px) {
            font-size: 13px;
         }
        &:hover {
            opacity: 0.6;
        }
    }
}

.sub-footer {
    padding-top: 56px;
    @media only screen and (max-width: 1399px) {
        padding-top: 30px;
    }
    p {
        color: var(--color-black);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        @media only screen and (max-width: 1680px) {
            font-size: 15px;
        }
        @media only screen and (max-width: 1399px) {
            font-size: 14px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }
        
        &.copiright {
            color: var(--color-7b);
            font-weight: 400;
            span {
                font-weight: 500;
            }
            a {
                color: var(--color-7b);
                text-decoration: none;
            }
        }

        a {
            color: var(--color-7bf);
            text-decoration: underline;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
    @media only screen and (max-width: 575px) {
        gap: 8px;
    }
}

.otp-input {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--color-black);
    border: 1px solid var(--color-d9);
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    @media only screen and (max-width: 1399px) {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }
    @media only screen and (max-width: 575px) {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
    &::placeholder {
        color: rgba(0, 0, 0, 0.16);
    }
}

.otp-input:focus {
    border-color: #2196f3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
    background-color: #fff;
}

.security-code {
    p {
        // margin-bottom: 40px;
        font-size: 16px;
        color: var(--color-7b);
        @media only screen and (max-width: 1399px) {
            font-size: 14px;
            // margin-bottom: 30px;
        }
    }
}

.resend-code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    li {
        padding-left: 24px;
        margin-left: 12px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 9px;
            height: 9px;
            border-radius: 100%;
            background: rgba(75, 75, 75, 0.4);
        }
        &:first-child {
           padding-left: 0;
           margin-left: 0;
           &:after {
            display: none;
           }
        }

        a {
            font-weight: 600;
            color: #1C1C1C;
            text-decoration: underline;
            &:hover {
                color: var(--color-blue);
            }
        }
    }
}
.password {
    position: relative;

    .password-icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.lead-top {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 1199px) {
        flex-direction: column;
        gap: 10px;
    }
    .lead-top-right {
        margin-top: 7px;
        p {
            color: #4B4B4B;
            font-size: 14px;
            font-style: normal;
            a {
                color: #0A65FF;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}