@use './header';
@use './footer';
@use './home';
@use './login';
@use './dashboard';
@use './modal';
// start varibales
:root {
    // font family
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    // color
    --color-white:#fff;
    --color-black:#000;
    --color-4b:#4B4B4B;
    --color-blue:#006BDE;
    --color-btn:#EE2A52;
    --color-a7:#0A59A7;
    --color-ef:#EBF5FF;
    --color-a6:#0053A6;
    --color-fd:#E7EEFD;
    --color-d9:#D9D9D9;
    --color-7b:#7B7B7B;
    --color-3d:#3D3D3D;
    --color-7ff:#0057FF;
    --color-bff:#007BFF;
    --color-ce:#CECECE;
    --color-1c:#1c1c1c;
     --font-24:24px;
    @media only screen and (max-width: 1680px) {
        --font-24:19px;
    }
    @media only screen and (max-width: 1399px) {
        --font-24:17px;
    }
    @media only screen and (max-width: 1199px) {
        --font-24:16px;
    }
    @media only screen and (max-width: 767px) {
        --font-24:14px;
    }
}
// end variables

body,
html {
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    color: var(--color-4b);
    background: var(--color-white);
    @media only screen and (max-width: 1680px) {
        font-size: 15px;
    }
   @media only screen and (max-width: 1499px) {
        font-size: 14px;
    }
}

* {
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--color-7ff) #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: 1.2;
   font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 10px;
}

ul,
li,
ol {
    margin-bottom: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: var(--color-black)
}

img {
    max-width: 100%;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    @media (max-width:1700px) {
        font-size: 60px;
    }
    @media (max-width:1399px) {
        font-size: 48px;
    }
    @media (max-width:1199px) {
        font-size: 38px;
    }
    @media (max-width:991px) {
        font-size: 33px;
    }
    @media (max-width:575px) {
        font-size: 25px;
    }
}

h2 {
    font-size: 64px;
    font-weight: 600;
    color: var(--color-black);
     @media (max-width:1700px) {
        font-size: 56px;
    }
    @media (max-width:1399px) {
        font-size: 39px;
    }
    @media (max-width:1199px) {
        font-size: 28px;
    }
    @media (max-width:991px) {
        font-size: 24px;
    }
    @media (max-width:575px) {
        font-size: 21px;
    }
}
h3 {
    font-weight: 600;
    font-size: 32px;
    color: #292929;
    @media (max-width:1700px) {
        font-size: 28px;
    }
    @media (max-width:1399px) {
        font-size: 23px;
    }
    @media (max-width:767px) {
        font-size: 20px;
    }
}

h4 {
    font-size: 28px;
    font-weight: 600;
    color: #292929;
    @media (max-width:1700px) {
        font-size: 23px;
    }
    @media (max-width:1399px) {
        font-size: 20px;
    }
     @media (max-width:767px) {
        font-size: 18px;
    }
}

ul {
    padding: 0;
}

input.form-control:focus {
    box-shadow: none;
}
.btn {
    border-radius: 8px;
    padding: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 28px;
    line-height: 0.8;
    font-weight: 600;
    transition: all 0.5s;
    gap: 10px;
    @media (max-width:1700px) {
        font-size: 23px;
        padding:20px 24px;
    }
    @media (max-width:1399px) {
        font-size: 20px;
        padding:17px 24px;
    }
    @media (max-width:1199px) {
        font-size: 17px;
        padding: 15px 20px;
    }
    @media (max-width:575px) {
        font-size: 15px;
        padding: 13px 20px;
    }
    &.sm {
        font-size: 16px;
        @media (max-width:575px) {
            font-size: 15px;
        }
    }
    &.md {
        font-size: 20px;
        @media (max-width:991px) {
            font-size: 16px;
        }
        @media (max-width:575px) {
            font-size: 15px;
        }
    }
    &.bt-24 {
        font-size: 24px;
    }
    &.btn-primary {
        background: var(--color-btn);
        color: var(--color-white);
        &:hover {
            background: var(--color-a7);
        }
    }
    &.btn-secondary {
        background: var(--color-bff);
        color: var(--color-white);
    }
    &.green-btn {
        background: #2ECC71;
        color: var(--color-white);
        &:hover {
            background: var(--color-black);
        }
    }
    &.btn-red {
        background: var(--color-btn);
        color: var(--color-white);
        &:hover {
            border-color: transparent;
            background: var(--color-black);
        }
    }
    &.blue-btn {
        background: var(--color-7ff);
        color: var(--color-white);
        &:hover {
            background: var(--color-black);
        }
    }
    &.btn-outline-grey {
        border: 1px solid #BAC1D1;
        background: transparent;
        color: #070707;
        &:hover {
            background:#070707;
            color: var(--color-white);
            border-color: #070707;
            img {
                filter: brightness(100) invert(100%);
            }
        }
        &:disabled,&.disabled {
            background: #BABABA;
            color: var(--color-white);
            border-color: #BABABA;
            cursor: not-allowed;
            img {
                filter: brightness(100) invert(100%);
            }
        }
    }
}

.g-5, .gy-5 {
    @media (max-width:991px) {
        --bs-gutter-y: 2rem;
    }
}
.g-5, .gx-5 {
    @media (max-width:991px) {
        --bs-gutter-x: 2rem;
    }
}
.container {
    @media (min-width:1400px) {
        max-width: 1820px;
        padding: 0 100px;
    }
    @media (max-width:1700px) {
        padding: 0 70px;
    }
    @media (max-width:991px) {
        padding: 0 30px;
    }
    @media (max-width:575px) {
        padding: 0 15px;
    }
}
.common-gap {
    padding: 184px 0;
    @media (max-width:1700px) {
        padding: 150px 0;
    }
    @media (max-width:1399px) {
        padding: 110px 0;
    }
    @media (max-width:1199px) {
        padding: 70px 0;
    }
    @media (max-width:767px) {
        padding: 50px 0;
    }
}
.cmn-hdr {
    margin-bottom: 50px;
    @media (max-width:1399px) {
        margin-bottom: 35px;
    }
    @media (max-width:1199px) {
        margin-bottom: 26px;
    }
    h6 {
        font-size: 32px;
        font-weight: 700;
        padding: 8px 12px;
        background: var(--color-ef);
        box-shadow: 0px 4px 14px 0px #00000024;
        margin-bottom: 24px;
        color: var(--color-black);
        font-style: italic;
        font-family: var(--secondary-font);
        display: inline-block;
        &.blue {
            background: var(--color-a7);
            color: var(--color-white);
        }
        @media (max-width:1700px) {
            font-size: 28px;
            margin-bottom: 15px;
        }
        @media (max-width:1399px) {
            font-size: 21px;
        }
        @media (max-width:1199px) {
            font-size: 17px;
        }
        @media (max-width:991px) {
            font-size: 14px;
        }
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 24px;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 0;
        @media (max-width:1700px) {
            font-size: 21px;
            margin-top: 20px;
        }
        @media (max-width:1399px) {
            font-size: 17px;
        }
        @media (max-width:1199px) {
            font-size: 15px;
        }
    }
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
    cursor: pointer;
    color: var(--color-7b);
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media only screen and (max-width:575px) {
        padding-left: 21px;
        font-size: 13px;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: transparent;
        border: 1px solid #A6A6A6;
        border-radius: 4px;
        &::after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 1px;
            width: 6px;
            height: 10px;
            border: solid var(--color-7ff);
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    input:checked~.checkmark {
        border-color: var(--color-7ff);
    }
    input:checked~.checkmark:after {
        display: block;
    }
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-3d);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media only screen and (max-width: 575px) {
    font-size: 12px;
    padding-left: 24px;
  }
  input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid var(--color-d9);
  border-radius: 50%;
  @media only screen and (max-width: 575px) {
    width: 15px;
    height: 15px;
  }
  &:after {
    content: "";
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:  var(--color-7ff);
    @media only screen and (max-width: 575px) {
        width: 9px;
        height: 9px;
    }
}
}
input:checked ~ .checkmark {
    border-color: var(--color-7ff);
}

input:checked ~ .checkmark:after {
  display: block;
}
}
.form-label {
    color: var(--color-3d);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
    @media only screen and (max-width: 575px) {
        font-size: 13px;
    }
    span {
        font-style: italic;
        color: #A8A8A8;
    }
    &.float {
        position: relative;
        bottom: -14px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
        background: var(--color-white);
        padding: 2px;
        font-weight: 600;
        font-size: 14px;
        z-index: 1;
        @media only screen and (max-width: 1680px) {
            font-size: 13px;
        }
        @media only screen and (max-width: 1399px) {
            font-size: 12px;
        }
        @media only screen and (max-width: 767px) {
            position: static;
            margin: 0 0 10px;
            padding: 0;
        }
    }
}
.hg {
    .form-label {
        &.float {
            bottom: -24px;
        }
    }
    .form-control {
        height: 78px;
        @media only screen and (max-width: 767px) {
            height: 50px;
        }
    }
}
textarea {
    &.form-control {
        height: 90px;
        padding-top: 24px;
        font-size: 14px;
        @media only screen and (max-width: 1399px) {
            padding-top: 10px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
}
select {
    &.form-control {
        background: url('../images/down-arrow.svg') no-repeat;
        background-size: auto;
        background-position: right 27px center;
        font-weight: 400;
        text-overflow: ellipsis;
        padding-right: 50px;
        @media only screen and (max-width: 767px) {
            background-position: right 15px center;
        }
        &:disabled {
            color: rgba(0,0,0,0.16);
        }
    }
}
.form-control {
    height: 60px;
    border: 1px solid var(--color-d9);
    border-radius: 10px;
    padding: 5px 18px;
    width: 100%;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    @media only screen and (max-width: 1680px) {
        font-size: 16px;
    }
    @media only screen and (max-width: 1399px) {
        font-size: 15px;
        height: 50px;
    }
    @media only screen and (max-width: 575px) {
        font-size: 12px;
    }
    &:focus {
        box-shadow: none;
    }
    &::placeholder {
        color: rgba(0,0,0,0.16);
    }
}

.form-group {
    margin-bottom: 24px;
    @media only screen and (max-width: 1399px) {
        margin-bottom: 17px;
    }
    @media only screen and (max-width: 991px) {
        margin-bottom: 10px;
    }
    @media only screen and (max-width: 575px) {
        margin-bottom: 20px;
    }
    &.mb-0 {
        @media only screen and (max-width: 575px) {
        margin-bottom: 20px!important;
    }
    }
}
.mb-40 {
    margin-bottom: 40px;
    @media only screen and (max-width: 1399px) {
        margin-bottom: 25px;
    }
}
.mt-40 {
    margin-top: 40px;
    @media only screen and (max-width: 1399px) {
        margin-top: 30px;
    }
    @media only screen and (max-width: 575px) {
        margin-top: 20px;
    }
}